node_modules
coverage
.eslintcache
.esbuild
build
.DS_Store
.idea
.env
.serverlessrc

# Packages for zambda deployment
.dist

.turbo
test-results/
playwright/
playwright-report/
playwright/.cache/
.vscode/settings.json


dist
packages/ui-components/dist/*
packages/intake/zambdas/.esbuild
packages/ehr/zambdas/.esbuild
packages/ehr/zambdas/.serverless
packages/intake/zambdas/.serverless
packages/zambdas/src/custom-ehr
packages/zambdas/src/custom-patient

# Sentry Config File
.env.sentry-build-plugin
.idea

**/vite.config.ts.timestamp-*.mjs
**/ottehr-secrets/

#Custom Package Ignore
custom-packages